/* Menu hamburguesa */
.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 2vw;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: solid;
    border-color: rgb(0, 0, 0);
}
.panel{
    position: fixed;
    z-index: 997;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: transform .3s ease;
    transform: translate(100%, 0);
    /* transform: translate(0, -100%); */
    /* transform: translate(-100%, 0); */
    /* transform: translate(0, 100%); */
    justify-content: center;
    align-items: center;
}

.panel.is-active{
    transform:translate(0, 0);
}
