.header {
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.37);
  position: fixed;
  z-index: 50;
  top: 0;
  padding: 0 18px;
  transition: all 0.9s;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.2rem;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.logo__link img {
  display: flex;
  align-items: center;
}

.header__nav__menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.header__nav__menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu__list a{
  display: block;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--second-color);
}
.menu__list a:hover{
  color: var(--second-color);
  transition: 0.3s ease-in-out;
}
.header__menu-link {
  text-decoration: none;
  font-size: 2.3rem;
  color: var(--main-color);
  font-weight: bold;
  padding: 1rem;
}
.header__menu-link:hover  {
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 5px;
}

.header__social__media {
  display: flex;
  justify-content: space-around;
  width: 14%;
  align-items: center;
}

.header__icon__link i {
  font-size: 3rem;
  color: var(--blue);
}

@media screen and (max-width: 1000px) {
  .header__nav__menu {
    width: 73%;
    display: flex;
    justify-content: flex-start;
  }

  .header__menu-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .header__nav__menu ul {
    justify-content: center;
    flex-direction: column;
    gap: 4.5rem;
  }
  .header__menu-link:hover {
    background-color: transparent;
  }

  

  .menu__list .header__menu-link {
    font-size: 4rem;
    color: var(--main-color);
  }
  .menu__list .header__menu-link:hover {
    font-size: 4rem;
    color: var(--blue);
  }

  .header__social__media {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
  }
}
